<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskingHeap</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ask.css" rel="stylesheet">
  </head>
  <header>
      <div class="container" class="logo">
          <img src="static/logo.png">
      </div>
  </header>
  <body>
      <div class="navbar navbar-inverse navbar-static-top">
         <div class="container">
            <div class="navbar-header">         
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                   <span class="sr-only">Открыть навигацию</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
            </div>
            <div class="collapse navbar-collapse" id="responsive-menu">
                <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Вопросы</a> </li>
                        <li><a href="ask.html">Задать вопрос</a> </li>
                        <li><a href="profile.html">Профиль</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Меню<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">Профиль</a></li>
                            <li><a href="#">Статистика</a></li>
                            <li class="divider"></li>
                            <li><a href="#">О проекте</a></li>
                        </ul>
                       </li>
                </ul>
                <!--Для всего, кроме планшета-->
                <form action="" class="navbar-form navbar-right hidden-sm">
                        <span><img src="static/ava.png" width="34" height="34"></span>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success"
                                <i></i> Профиль, %UserName% </span>
                            </button>
                            <button type="submit" class="btn btn-success dropdown-toggle" data-toggle="dropdown"> 
                                <i></i><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Log out</a></li>
                            </ul>
                        </div>                         
                </form>
                
                <form action="" class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" value="">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i></i> Поиск
                        </button>
                </form>
            </div>
        </div>
        
     </div>
       
      
     <div class="container">
         <div class="row">
               <div class="col-lg-9 col-sm-9 col-md-9">
                     <br>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3 col-sm-3 col-md-3 col-es-3">
                                    <a class="post-avatar thumbnail" href="profile.html"><img src="static/ava.png">
                                        <div class="text-center">DevUser1</div>
                                    </a>
                                    <div class="likes text-center">
                                    <button type="button" class="btn btn-default btn-es">
                                          <span class="glyphicon glyphicon glyphicon-thumbs-up"></span>
                                    </button>
                                    6 Likes
                                    <button type="button" class="btn btn-default btn-es">
                                          <span class="glyphicon glyphicon glyphicon-thumbs-down"></span>
                                    </button>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-sm-9 col-md-9 col-es-9">
                                    <div class="bubble">
                                        <div class="pointer">
                                            <h4><b>Как научиться находить смысл в сложной, иносказательной поэзии?</b></h4>
                                            <p>Общие советы таковы: читать больше поэзии, читать медленно (вдумчиво), ставить под вопрос каждое слово и его связи с другими словами, не стесняться пользоваться справочными материалами (в современной поэзии вы легко встретите и героев античной мифологии третьего ряда, и терминологию из теоретической физики или экономики, и отсылки к философам). Подходя к произведению, стоит руководствоваться так называемой презумпцией смысла: вы предполагаете, что в нем заключаются осмысленные сообщения, и ваша задача как читателя — считать, дешифро ... </p>
                                        </div>
                                        <div class="pointer-border"></div>
                                    </div>
                                    <p class="post-actions">Tags: <a href="#"> Литература</a> <a href="#">, поэзия</a> </p> 
                                    
                                </div>
                            </div>
                        </div>
                   <img src="static/line1.png" class="line1" width="847" height="54">
                             
                   <div class="panel panel-default post">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2 col-md-2 col-es-2">
                                    <a class="post-avatar thumbnail" href="profile.html"><img src="static/ava.png">
                                        <div class="text-center">DevUser2</div>
                                    </a>
                                    <div class="likes text-center">
                                    <button type="button" class="btn btn-default btn-xs">
                                          <span class="glyphicon glyphicon glyphicon-thumbs-up"></span>
                                    </button>
                                    7 Likes
                                    <button type="button" class="btn btn-default btn-xs">
                                          <span class="glyphicon glyphicon glyphicon-thumbs-down"></span>
                                    </button>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10 col-es-10">
                                    <div class="bubble">
                                        <div class="pointer">
                                            <p>В жару лучше пить прохладную (12'С) воду, например, с добавлением сока лимона. И лучше это делать небольшими порциями, но часто. Если Вы готовите для домашнего принятия воды или с возможностью ее взять с собой, то можно делать разные миксы: С вечера приготовьте графин с чистой водой, добавьте туда порезанные фрукты, овощи, ягоды, цитрусы, травки или корешки, поставь на ночь в холодильник, а утром начинайте наслаждаться ей вместо кофе, чая, газировки и, конечно же, вместо алкоголя. В состав можно добавить:  ... </p>
                                        </div>
                                        <input type="checkbox" value="remember-me"> Правильный ответ
                                        <div class="pointer-border"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                    
                    <div class="panel panel-default post">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2 col-sm-2 col-md-2 col-es-2">
                                <a class="post-avatar thumbnail" href="profile.html"><img src="static/ava.png">
                                    <div class="text-center">DevUser2</div>
                                </a>
                                <div class="likes text-center">
                                <button type="button" class="btn btn-default btn-xs">
                                      <span class="glyphicon glyphicon glyphicon-thumbs-up"></span>
                                </button>
                                7 Likes
                                <button type="button" class="btn btn-default btn-xs">
                                      <span class="glyphicon glyphicon glyphicon-thumbs-down"></span>
                                </button>
                                </div>
                            </div>
                            <div class="col-lg-10 col-sm-10 col-md-10 col-es-10">
                                <div class="bubble">
                                    <div class="pointer">
                                        <p>В жару лучше пить прохладную (12'С) воду, например, с добавлением сока лимона. И лучше это делать небольшими порциями, но часто. Если Вы готовите для домашнего принятия воды или с возможностью ее взять с собой, то можно делать разные миксы: С вечера приготовьте графин с чистой водой, добавьте туда порезанные фрукты, овощи, ягоды, цитрусы, травки или корешки, поставь на ночь в холодильник, а утром начинайте наслаждаться ей вместо кофе, чая, газировки и, конечно же, вместо алкоголя. В состав можно добавить:  ... </p>
                                    </div>
                                    <input type="checkbox" value="remember-me"> Правильный ответ
                                    <div class="pointer-border"></div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
               <img src="static/line1.png" class="line1" width="847" height="32">              
                 <div class="form-group">
                    <textarea class="form-control control" rows="5" placeholder="Введите ответ здесь"></textarea>
                    <button type="submit" class="btn btn-default askbutton">Ответить</button>
                </div>   
               </div>
               
               
               
               
               <div class="sidebar-module sidebar-module-inset">
                    <div class="col-lg-3 col-sm-3 col-md-3 col-es-3">
                      <br>
                      <div class="panel panel-default tags">
                          <div class="panel-heading">
                              <h3 class="panel-title">Tags</h3>
                          </div>
                          <div class="panel-body">
                             <ul>
                              <li><a class="thumbnail" href="profile.html">html</a></li>
                              <li><a class="thumbnail" href="profile.html">perl</a></li>
                              <li><a class="thumbnail" href="profile.html">incapsulation</a></li>
                              <li><a class="thumbnail" href="profile.html">c++</a></li>
                              <li><a class="thumbnail" href="profile.html">programming</a></li>
                              <li><a class="thumbnail" href="profile.html">sql</a></li>
                              <li><a class="thumbnail" href="profile.html">python</a></li>
                              <li><a class="thumbnail" href="profile.html">question</a></li>
                              <li><a class="thumbnail" href="profile.html">engines</a></li>
                            </ul>
                          </div>
                      </div>

                      <div class="panel panel-default best">
                          <div class="panel-heading">
                              <h3 class="panel-title">Best Members</h3>
                          </div>
                          <div class="panel-body">
                             <ul>
                              <li><a class="thumbnail" href="profile.html"><img src="static/ava.png"></a></li>
                              <li><a class="thumbnail" href="profile.html"><img src="static/ava.png"></a></li>
                              <li><a class="thumbnail" href="profile.html"><img src="static/ava.png"></a></li>
                              <li><a class="thumbnail" href="profile.html"><img src="static/ava.png"></a></li>
                              <li><a class="thumbnail" href="profile.html"><img src="static/ava.png"></a></li>
                              <li><a class="thumbnail" href="profile.html"><img src="static/ava.png"></a></li>
                              <li><a class="thumbnail" href="profile.html"><img src="static/ava.png"></a></li>
                              <li><a class="thumbnail" href="profile.html"><img src="static/ava.png"></a></li>
                              <li><a class="thumbnail" href="profile.html"><img src="static/ava.png"></a></li>
                            </ul>
                            <!-- <div class="clearfix">
                            <a class="btn btn-primary" href="#">View all top members</a>
                            </div> -->
                          </div>
                      </div>
                      <br>
                       </div>
               </div>
         </div>
     </div>      
     
     
       
     
   </body>    
     
    <footer>
        <div class="text">
              ©Todos los derechos reservados 
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</html>