{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Задать вопрос{% endblock %}

{% block include %}
    <link href={% static "css/ask.css" %} rel="stylesheet">

{% endblock %}

{% block login %}
    {% include "login_auth.html" %}
{% endblock %}

{% block leftcolumntop %}
<div class="col-lg-9 col-sm-9 col-md-9">
    <form action="/question/create/" method="post">
        {% csrf_token %}
        <h3 class="titletext">Задать новый вопрос</h3>
                    <div class="panel panel-default post">
                        <div class="panel-body">
                            <div class="row titlerow">
                                <div class="col-lg-2 col-sm-2 col-md-2 col-es-2">
                                    <p class="naming"><b>Заголовок*</b></p>
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10 col-es-10">
                                    {{ form.title|add_class:"form-control control"}}
                                    {% if form.title.errors %}
                                        {{ form.title.errors }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row textrow">
                                <div class="col-lg-2 col-sm-2 col-md-2 col-es-2">
                                    <p class="naming"><b>Текст*</b></p>
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10 col-es-10">
                                    <form>
                                        <div class="form-group">
                                            {{ form.text|add_class:"form-control control" }}
                                            {% if form.title.errors %}
                                                {{ form.text.errors }}
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row tagsrow">
                                <div class="col-lg-2 col-sm-2 col-md-2 col-es-2">
                                    <p class="naming"><b>Тэги*</b></p>
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10 col-es-10">
{#                                    {{ form.tags|add_class:"list-group-item" }}#}
                                    {{ form.tags|add_class:"form-control control" }}
                                    {% if form.tags.errors %}
                                        {{ form.tags.errors }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row tagsrow">
                                <div class="col-lg-2 col-sm-2 col-md-2 col-es-2">

                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10 col-es-10">
                                    <input type="submit" class="btn btn-default askbutton" value="Задать вопрос" />
                                </div>
                            </div>
                        </div>
                   </div>


    </form>
    {% endblock %}
</div>

      
{% block rightcolumn %}
<br><br>
{% include "rightcolumn.html" %}
{% endblock %}   